body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header .logo {
    margin: 0;
  }
  
  nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .nav-links .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
    color: #fff;
    background-color: rgb(68, 63, 63);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .box-container {
     
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    .box {
      width: calc(60% - 20px);
      margin-top: 10px;
      margin-bottom: 40px;
      padding: 20px;
      background-color: #cdf0dc;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
      background-size: cover;
      background-position: center;
      text-align: center;
  
    }
  
    .box h2 {
      font-size: 25px; /* adjust to your desired font size */
      font-weight: bold;
    }
    
    .box:hover {
      box-shadow: 16px 8px 16px 8px #101010b5;
    }
    
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    button {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #414343;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      margin: 0 5px;
      font-size: 15px;
    }
    
    button:hover {
      background-color: #075871;
      
      font-weight: 100;
    }